body {
  overflow-y: hidden;
}
header {
  position: relative;
  text-align: center;
  font-family: 'Berkshire Swash';
  font-size: x-large;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: white;
  top: 50%;
}
nav {
  position: relative;
  text-align: center;
  font-size: x-large;
  top: -20px;
  top: 50%;
}
a {
  text-decoration: none;
  font-family: 'Berkshire Swash';
  color: white;
  padding: 50px;
}
nav a:hover {
  text-decoration: underline;
}
.background-img {
  z-index: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}
